dangerously-allow-all-builds=true
minimum-release-age=0
only-built-dependencies[]=esbuild
only-built-dependencies[]=simple-git-hooks
only-built-dependencies[]=unrs-resolver
only-built-dependencies[]=@swc/core
